.header-container {
  display: flex;
  height: 10vh;
  background-image: linear-gradient(to right, #0045ff, #01d2a3);
  align-content: center;
  justify-content: space-between;

  .header-logo {
    width: 70%;
    display: flex;
    justify-content: center;

    a {
      align-self: center;
    }

    img {
      width: 170px;
    }
  }

  .header-menu {
    display: flex;
    align-self: center;
    width: 20%;
  }
}
